input{
    background-color: rgb(189, 234, 234);
    width: 35%;
    margin-top: 10px;
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    font-size: 45px;

    
   
   
    
   
    

}
.addbutton1{
    
    background-color: rgb(28, 199, 9);
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
}
.addbutton1:hover{
  background-color: blueviolet;
  padding-inline: 20px;
  text-shadow: 80px;
  font-size: 20px;
  
  
}
