.main-navbar{
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: greenyellow;
 gap: 5rem;
 height: 100px;

}
ul{
     display: flex;
 justify-content: center;
 align-items: center;
 list-style: none;
 gap: 5rem;
}
img{
    width: 200px;
    height: 300px;
}